@{
    ViewBag.Title = "Informacje";
    ViewBag.Message = "O aplikacji";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ta aplikacja zapewnia funkcjonalośc CRUD dla małej bazy danych narzędzi.</p>
