@{
    ViewBag.Title = "Kontakt";
    ViewBag.Message = "Kamil Malinowski";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Uniwersytet Gdański<br />
    Jana Bażyńskiego 8<br />
    80-309 Gdańsk
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:malinowskikam96@gmail.com">malinowskikam96@gmail.com</a><br />
</address>